openapi: 3.0.3
info:
  title: 'Hana-English API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.anhnguhana.com'
tags:
  -
    name: 'CRM - Lead'
    description: "\nManage leads / prospective customers (lead.md §2–§7)."
  -
    name: 'CRM - Lead Guardians'
    description: "\nManage the guardians of a lead (lead.md §8 \"Quản lý Người giám hộ\")."
  -
    name: 'CRM - Lead Students'
    description: "\nManage the students linked to a lead (lead.md §9 \"Liên kết học viên\")."
  -
    name: 'CRM - Parent'
    description: "\nManage parents / guardians."
  -
    name: 'CRM - Parent Student'
    description: "\nManage the parent ↔ student relationships."
  -
    name: 'Core - Authentication'
    description: "\nLogin, registration, OTP, password reset and related account flows.\nMost endpoints are public; ones marked @authenticated require a bearer token."
  -
    name: 'Core - Common'
    description: "\nDevice bootstrap and calendar helpers. Public (no token required)."
  -
    name: 'Core - File'
    description: "\nUpload / download / import files. Requires a bearer token and a `device-code` header."
  -
    name: 'Core - Health'
    description: "\nLiveness / connectivity probes. These endpoints are public (no token required)."
  -
    name: 'Core - Metadata'
    description: "\nFrontend bootstrap data: every model enumeration (status, type, gender, …) as\n`{ key, value, label }` lists, grouped by domain. `key` is the UPPER_SNAKE enum\nidentifier (stable), `value` the wire value, `label` the Vietnamese display text.\nFetch once after login to populate dropdowns, status badges and filters without\nhardcoding option lists."
  -
    name: 'Core - User'
    description: "\nAuthenticated user's own profile."
  -
    name: 'Education - Assignment'
    description: "\nCreate, publish, assign, collect and grade student assignments (assignment.md)."
  -
    name: 'Education - Assignment Submission'
    description: "\nGrade and publish results of student submissions (assignment.md §9, §10)."
  -
    name: 'Education - Class'
    description: "\nManage classes (lớp học) — the core operational unit linking courses, students,\nteachers, rooms, curriculum and attendance."
  -
    name: 'Education - Class Schedule'
    description: "\nManage schedules (lịch học) attached to a class."
  -
    name: 'Education - Class Session'
    description: "\nManage sessions (buổi học) — the operational unit of a class, linking attendance,\nteachers, revenue, tags and feedback."
  -
    name: 'Education - Course'
    description: "\nManage courses (training catalogue)."
  -
    name: 'Education - Enrollment'
    description: "\nManage enrollments (ghi danh) — the \"hợp đồng học tập\" linking a student to a\nclass, its lesson package, tuition, debt, transfers and suspensions."
  -
    name: 'Education - Exam'
    description: "\nManage the exam bank and its questions (exam.md §VI, §VII)."
  -
    name: 'Education - Exam Result'
    description: "\nGrade sittings, publish results and promote on a passing result (exam.md §XI–§XIII).\nThe {id} path parameter is the exam registration ID (a candidate's slot in a sitting)."
  -
    name: 'Education - Exam Session'
    description: "\nSchedule exam sittings, seat rooms/invigilators and register candidates (exam.md §VIII, §IX)."
  -
    name: 'Education - Exam Versions'
    description: "\nManage an exam's version lineage (exam.md §IV \"Version đề thi\")."
  -
    name: 'Education - Lesson'
    description: "\nManage the actual per-class lessons generated from a lesson plan."
  -
    name: 'Education - Lesson Plan'
    description: "\nManage teaching lesson plans (templates) per course and level."
  -
    name: 'Education - Lesson Plan Lessons'
    description: "\nManage lesson templates and materials inside a lesson plan."
  -
    name: 'Education - Lesson Plan Materials'
    description: "\nAttach and detach learning materials on a lesson template (lesson-plan.md §14)."
  -
    name: 'Education - Lesson Plan Versions'
    description: "\nBrowse the published-version history of a lesson plan (lesson-plan.md §13)."
  -
    name: 'Education - Level'
    description: "\nLevel master: the learning-path catalogue of proficiency levels per course\n(student-level.md §V)."
  -
    name: 'Education - Material'
    description: "\nCentral learning-resource library: documents, versioning and links to courses,\nlesson plans, lessons and assignments (material.md)."
  -
    name: 'Education - Material Category'
    description: "\nDocument-library taxonomy (material.md §6)."
  -
    name: 'Education - Question'
    description: "\nQuestion bank: author, review, version and reuse questions, and auto-generate exams\nfrom them (question.md)."
  -
    name: 'Education - Question Category'
    description: "\nManage the question bank category hierarchy (question.md §XV)."
  -
    name: 'Education - Question Tag'
    description: "\nManage the question bank tags (question.md §IV, §XV)."
  -
    name: 'Education - Question Versions'
    description: "\nBrowse a question's version history (question.md §IV \"Version câu hỏi\"). Snapshots are\nrecorded automatically when an in-use question is edited (BR007)."
  -
    name: 'Education - Room'
    description: "\nManage classrooms (physical rooms) used for scheduling classes and sessions."
  -
    name: 'Education - Student'
    description: "\nManage students (enrollment lifecycle)."
  -
    name: 'Education - Student Level'
    description: "\nA student's current proficiency level: placement, promotion, manual adjustment\nand change history (student-level.md)."
  -
    name: 'Finance - Account'
    description: "\nManage funds (quỹ) — cash, bank, e-wallet — whose balances move with confirmed\npayments (payment.md §VI)."
  -
    name: 'Finance - Debt'
    description: "\nReceivable/payable debt computed live from invoices and payments, with aging,\ndashboard, adjustments, write-off approval, collection and reconciliation (debt.md)."
  -
    name: 'Finance - Invoice'
    description: "\nManage receivable and payable invoices, their approval, payments and lifecycle\n(invoice.md)."
  -
    name: 'Finance - Payment'
    description: "\nRecord and manage real cash-flow transactions — receipts (IN) and disbursements\n(OUT) — with confirm/cancel/reverse/refund and fund-balance effects (payment.md)."
  -
    name: 'Finance - Promotion'
    description: "\nManage promotion programmes, their lifecycle, vouchers and the apply engine\n(promotion.md)."
  -
    name: 'Finance - Referral'
    description: "\nManage parent-to-parent referrals and their rewards (promotion.md §XI)."
  -
    name: 'HR - Teacher'
    description: "\nManage teachers (full lifecycle, specialisations, certificates)."
  -
    name: 'HR - Teacher Certificate'
    description: "\nManage a teacher's professional certificates."
  -
    name: 'System - Activity Log'
    description: "\nRead-only system audit trail (spec 028). Logs are immutable — there is no\ncreate/update/delete endpoint (BR-02, BR-03, BR-06)."
  -
    name: 'System - Branch'
    description: "\nManage branches (cơ sở) belonging to a Business."
  -
    name: 'System - Business'
    description: "\nManage businesses (centers / branches)."
  -
    name: 'System - User'
    description: "\nManage system user accounts."
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
paths:
  /v1/crm/lead/list:
    get:
      summary: 'List leads'
      operationId: listLeads
      description: ''
      parameters:
        -
          in: query
          name: search
          description: 'Search by code, name, email or phone.'
          example: Nguyễn
          required: false
          schema:
            type: string
            description: 'Search by code, name, email or phone.'
            example: Nguyễn
        -
          in: query
          name: business_id
          description: 'Filter by business id.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by business id.'
            example: 1
        -
          in: query
          name: branch_id
          description: 'Filter by branch id.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by branch id.'
            example: 1
        -
          in: query
          name: status
          description: 'Filter by status: pending, verified, studying, inactive.'
          example: pending
          required: false
          schema:
            type: string
            description: 'Filter by status: pending, verified, studying, inactive.'
            example: pending
        -
          in: query
          name: source
          description: 'Filter by lead source.'
          example: facebook
          required: false
          schema:
            type: string
            description: 'Filter by lead source.'
            example: facebook
        -
          in: query
          name: owner_id
          description: 'Filter by assigned staff id.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by assigned staff id.'
            example: 1
        -
          in: query
          name: name
          description: 'Partial match on name.'
          example: 'Văn A'
          required: false
          schema:
            type: string
            description: 'Partial match on name.'
            example: 'Văn A'
        -
          in: query
          name: email
          description: 'Partial match on email.'
          example: example.com
          required: false
          schema:
            type: string
            description: 'Partial match on email.'
            example: example.com
        -
          in: query
          name: phone
          description: 'Partial match on phone.'
          example: '0901'
          required: false
          schema:
            type: string
            description: 'Partial match on phone.'
            example: '0901'
        -
          in: query
          name: contacted_from
          description: 'date Filter leads contacted on or after (Y-m-d).'
          example: '2026-01-01'
          required: false
          schema:
            type: string
            description: 'date Filter leads contacted on or after (Y-m-d).'
            example: '2026-01-01'
        -
          in: query
          name: contacted_to
          description: 'date Filter leads contacted on or before (Y-m-d).'
          example: '2026-12-31'
          required: false
          schema:
            type: string
            description: 'date Filter leads contacted on or before (Y-m-d).'
            example: '2026-12-31'
        -
          in: query
          name: tag_ids
          description: 'Filter by tag ids.'
          example:
            - 1
            - 2
          required: false
          schema:
            type: array
            description: 'Filter by tag ids.'
            example:
              - 1
              - 2
            items:
              type: integer
        -
          in: query
          name: course_ids
          description: 'Filter by interested course ids.'
          example:
            - 1
          required: false
          schema:
            type: array
            description: 'Filter by interested course ids.'
            example:
              - 1
            items:
              type: integer
        -
          in: query
          name: sort_by
          description: 'Sort column: code, name, status, created_at.'
          example: created_at
          required: false
          schema:
            type: string
            description: 'Sort column: code, name, status, created_at.'
            example: created_at
        -
          in: query
          name: sort_dir
          description: 'Sort direction: asc or desc (default desc).'
          example: desc
          required: false
          schema:
            type: string
            description: 'Sort direction: asc or desc (default desc).'
            example: desc
        -
          in: query
          name: per_page
          description: 'Page size: 20, 50 or 100 (default 20).'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Page size: 20, 50 or 100 (default 20).'
            example: 20
        -
          in: query
          name: page
          description: 'Page number (default 1).'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number (default 1).'
            example: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Thao tác thành công'
                  data:
                    items:
                      -
                        id: 1
                        code: LEAD000001
                        name: 'Nguyễn Văn A'
                        gender: male
                        dob: '2010-03-20'
                        email: a@example.com
                        phone: '0901234567'
                        source: facebook
                        status: pending
                        note: null
                        previous_status: null
                        suspended_at: null
                        suspend_reason: null
                        suspended_by: null
                        guardians_count: 1
                        students_count: 0
                        business_id: 1
                        branch_id: 1
                        owner_id: 1
                        created_by: 1
                        updated_by: null
                        deleted_by: null
                        created_at: '2026-06-01T08:00:00.000000Z'
                        updated_at: '2026-06-01T08:00:00.000000Z'
                        deleted_at: null
                    pagination:
                      total: 1
                      per_page: 20
                      current_page: 1
                      last_page: 1
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Thao tác thành công'
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        example:
                          -
                            id: 1
                            code: LEAD000001
                            name: 'Nguyễn Văn A'
                            gender: male
                            dob: '2010-03-20'
                            email: a@example.com
                            phone: '0901234567'
                            source: facebook
                            status: pending
                            note: null
                            previous_status: null
                            suspended_at: null
                            suspend_reason: null
                            suspended_by: null
                            guardians_count: 1
                            students_count: 0
                            business_id: 1
                            branch_id: 1
                            owner_id: 1
                            created_by: 1
                            updated_by: null
                            deleted_by: null
                            created_at: '2026-06-01T08:00:00.000000Z'
                            updated_at: '2026-06-01T08:00:00.000000Z'
                            deleted_at: null
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            code:
                              type: string
                              example: LEAD000001
                            name:
                              type: string
                              example: 'Nguyễn Văn A'
                            gender:
                              type: string
                              example: male
                            dob:
                              type: string
                              example: '2010-03-20'
                            email:
                              type: string
                              example: a@example.com
                            phone:
                              type: string
                              example: '0901234567'
                            source:
                              type: string
                              example: facebook
                            status:
                              type: string
                              example: pending
                            note:
                              type: string
                              example: null
                              nullable: true
                            previous_status:
                              type: string
                              example: null
                              nullable: true
                            suspended_at:
                              type: string
                              example: null
                              nullable: true
                            suspend_reason:
                              type: string
                              example: null
                              nullable: true
                            suspended_by:
                              type: string
                              example: null
                              nullable: true
                            guardians_count:
                              type: integer
                              example: 1
                            students_count:
                              type: integer
                              example: 0
                            business_id:
                              type: integer
                              example: 1
                            branch_id:
                              type: integer
                              example: 1
                            owner_id:
                              type: integer
                              example: 1
                            created_by:
                              type: integer
                              example: 1
                            updated_by:
                              type: string
                              example: null
                              nullable: true
                            deleted_by:
                              type: string
                              example: null
                              nullable: true
                            created_at:
                              type: string
                              example: '2026-06-01T08:00:00.000000Z'
                            updated_at:
                              type: string
                              example: '2026-06-01T08:00:00.000000Z'
                            deleted_at:
                              type: string
                              example: null
                              nullable: true
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 20
                          current_page:
                            type: integer
                            example: 1
                          last_page:
                            type: integer
                            example: 1
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead'
  '/v1/crm/lead/detail/{id}':
    get:
      summary: 'Lead detail'
      operationId: leadDetail
      description: 'Returns the full lead record with all relations and its change history.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Thao tác thành công'
                  data:
                    lead:
                      id: 1
                      code: LEAD000001
                      name: 'Nguyễn Văn A'
                      gender: male
                      dob: '2010-03-20'
                      email: a@example.com
                      phone: '0901234567'
                      source: facebook
                      status: pending
                      note: null
                      previous_status: null
                      suspended_at: null
                      suspend_reason: null
                      suspended_by: null
                      guardians_count: 1
                      students_count: 1
                      business_id: 1
                      business:
                        id: 1
                        name: 'Hana English'
                      branch_id: 1
                      branch:
                        id: 1
                        name: 'Hà Nội'
                      owner_id: 1
                      owner:
                        id: 1
                        name: 'Trần Thị B'
                        avatar: null
                      guardians:
                        -
                          id: 1
                          full_name: 'Nguyễn Văn B'
                          relationship: Bố
                          phone: '0907654321'
                          email: null
                      students:
                        -
                          id: 1
                          code: STU000001
                          name: 'Nguyễn Thị C'
                          relationship: father
                      tags:
                        -
                          id: 1
                          name: 'Tiềm năng'
                          color: '#FF5733'
                      courses:
                        -
                          id: 1
                          code: C001
                          name: 'English Basics'
                      created_by: 1
                      updated_by: null
                      deleted_by: null
                      created_at: '2026-06-01T08:00:00.000000Z'
                      updated_at: '2026-06-01T08:00:00.000000Z'
                      deleted_at: null
                    histories:
                      -
                        id: 1
                        lead_id: 1
                        action: created
                        from_status: null
                        to_status: pending
                        reason: null
                        note: null
                        created_by: 1
                        created_at: '2026-06-01T08:00:00.000000Z'
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Thao tác thành công'
                  data:
                    type: object
                    properties:
                      lead:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          code:
                            type: string
                            example: LEAD000001
                          name:
                            type: string
                            example: 'Nguyễn Văn A'
                          gender:
                            type: string
                            example: male
                          dob:
                            type: string
                            example: '2010-03-20'
                          email:
                            type: string
                            example: a@example.com
                          phone:
                            type: string
                            example: '0901234567'
                          source:
                            type: string
                            example: facebook
                          status:
                            type: string
                            example: pending
                          note:
                            type: string
                            example: null
                            nullable: true
                          previous_status:
                            type: string
                            example: null
                            nullable: true
                          suspended_at:
                            type: string
                            example: null
                            nullable: true
                          suspend_reason:
                            type: string
                            example: null
                            nullable: true
                          suspended_by:
                            type: string
                            example: null
                            nullable: true
                          guardians_count:
                            type: integer
                            example: 1
                          students_count:
                            type: integer
                            example: 1
                          business_id:
                            type: integer
                            example: 1
                          business:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              name:
                                type: string
                                example: 'Hana English'
                          branch_id:
                            type: integer
                            example: 1
                          branch:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              name:
                                type: string
                                example: 'Hà Nội'
                          owner_id:
                            type: integer
                            example: 1
                          owner:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              name:
                                type: string
                                example: 'Trần Thị B'
                              avatar:
                                type: string
                                example: null
                                nullable: true
                          guardians:
                            type: array
                            example:
                              -
                                id: 1
                                full_name: 'Nguyễn Văn B'
                                relationship: Bố
                                phone: '0907654321'
                                email: null
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1
                                full_name:
                                  type: string
                                  example: 'Nguyễn Văn B'
                                relationship:
                                  type: string
                                  example: Bố
                                phone:
                                  type: string
                                  example: '0907654321'
                                email:
                                  type: string
                                  example: null
                                  nullable: true
                          students:
                            type: array
                            example:
                              -
                                id: 1
                                code: STU000001
                                name: 'Nguyễn Thị C'
                                relationship: father
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1
                                code:
                                  type: string
                                  example: STU000001
                                name:
                                  type: string
                                  example: 'Nguyễn Thị C'
                                relationship:
                                  type: string
                                  example: father
                          tags:
                            type: array
                            example:
                              -
                                id: 1
                                name: 'Tiềm năng'
                                color: '#FF5733'
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1
                                name:
                                  type: string
                                  example: 'Tiềm năng'
                                color:
                                  type: string
                                  example: '#FF5733'
                          courses:
                            type: array
                            example:
                              -
                                id: 1
                                code: C001
                                name: 'English Basics'
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1
                                code:
                                  type: string
                                  example: C001
                                name:
                                  type: string
                                  example: 'English Basics'
                          created_by:
                            type: integer
                            example: 1
                          updated_by:
                            type: string
                            example: null
                            nullable: true
                          deleted_by:
                            type: string
                            example: null
                            nullable: true
                          created_at:
                            type: string
                            example: '2026-06-01T08:00:00.000000Z'
                          updated_at:
                            type: string
                            example: '2026-06-01T08:00:00.000000Z'
                          deleted_at:
                            type: string
                            example: null
                            nullable: true
                      histories:
                        type: array
                        example:
                          -
                            id: 1
                            lead_id: 1
                            action: created
                            from_status: null
                            to_status: pending
                            reason: null
                            note: null
                            created_by: 1
                            created_at: '2026-06-01T08:00:00.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            lead_id:
                              type: integer
                              example: 1
                            action:
                              type: string
                              example: created
                            from_status:
                              type: string
                              example: null
                              nullable: true
                            to_status:
                              type: string
                              example: pending
                            reason:
                              type: string
                              example: null
                              nullable: true
                            note:
                              type: string
                              example: null
                              nullable: true
                            created_by:
                              type: integer
                              example: 1
                            created_at:
                              type: string
                              example: '2026-06-01T08:00:00.000000Z'
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead'
    parameters:
      -
        in: path
        name: id
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
  /v1/crm/lead/create:
    post:
      summary: 'Create lead'
      operationId: createLead
      description: 'Creates a new lead with optional guardians, linked students, tags and courses.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Tạo khách hàng thành công.'
                  data:
                    id: 1
                    code: LEAD000001
                    name: 'Nguyễn Văn A'
                    gender: male
                    dob: '2010-03-20'
                    email: a@example.com
                    phone: '0901234567'
                    source: facebook
                    status: pending
                    note: null
                    business_id: 1
                    branch_id: 1
                    owner_id: 1
                    guardians:
                      -
                        id: 1
                        full_name: 'Nguyễn Văn B'
                        relationship: Bố
                        phone: '0907654321'
                        email: null
                    students: []
                    tags: []
                    courses: []
                    created_by: 1
                    updated_by: null
                    deleted_by: null
                    created_at: '2026-06-01T08:00:00.000000Z'
                    updated_at: '2026-06-01T08:00:00.000000Z'
                    deleted_at: null
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Tạo khách hàng thành công.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      code:
                        type: string
                        example: LEAD000001
                      name:
                        type: string
                        example: 'Nguyễn Văn A'
                      gender:
                        type: string
                        example: male
                      dob:
                        type: string
                        example: '2010-03-20'
                      email:
                        type: string
                        example: a@example.com
                      phone:
                        type: string
                        example: '0901234567'
                      source:
                        type: string
                        example: facebook
                      status:
                        type: string
                        example: pending
                      note:
                        type: string
                        example: null
                        nullable: true
                      business_id:
                        type: integer
                        example: 1
                      branch_id:
                        type: integer
                        example: 1
                      owner_id:
                        type: integer
                        example: 1
                      guardians:
                        type: array
                        example:
                          -
                            id: 1
                            full_name: 'Nguyễn Văn B'
                            relationship: Bố
                            phone: '0907654321'
                            email: null
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            full_name:
                              type: string
                              example: 'Nguyễn Văn B'
                            relationship:
                              type: string
                              example: Bố
                            phone:
                              type: string
                              example: '0907654321'
                            email:
                              type: string
                              example: null
                              nullable: true
                      students:
                        type: array
                        example: []
                      tags:
                        type: array
                        example: []
                      courses:
                        type: array
                        example: []
                      created_by:
                        type: integer
                        example: 1
                      updated_by:
                        type: string
                        example: null
                        nullable: true
                      deleted_by:
                        type: string
                        example: null
                        nullable: true
                      created_at:
                        type: string
                        example: '2026-06-01T08:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2026-06-01T08:00:00.000000Z'
                      deleted_at:
                        type: string
                        example: null
                        nullable: true
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Full name. Must not be greater than 255 characters.'
                  example: 'Nguyễn Văn A'
                gender:
                  type: string
                  description: male|female|other.
                  example: male
                  enum:
                    - male
                    - female
                    - other
                  nullable: true
                dob:
                  type: string
                  description: 'Date of birth (<= today). Must be a valid date. Must be a date before or equal to <code>today</code>.'
                  example: '2010-03-20'
                  nullable: true
                email:
                  type: string
                  description: 'Contact email. Must be a valid email address. Must not be greater than 255 characters.'
                  example: a@example.com
                  nullable: true
                phone:
                  type: string
                  description: 'Contact phone (unique among active leads). Must match the regex /^[0-9+\-\s().]{6,20}$/.'
                  example: '0901234567'
                source:
                  type: string
                  description: 'Lead source. Must not be greater than 255 characters.'
                  example: facebook
                status:
                  type: string
                  description: 'Initial status (defaults to pending): pending|verified|studying|inactive.'
                  example: pending
                  enum:
                    - pending
                    - verified
                    - studying
                    - inactive
                  nullable: true
                owner_id:
                  type: integer
                  description: 'Assigned staff (user) id. Must match an existing stored value.'
                  example: 1
                business_id:
                  type: integer
                  description: 'Business id. Must match an existing stored value.'
                  example: 1
                  nullable: true
                branch_id:
                  type: integer
                  description: 'Branch id. Must match an existing stored value.'
                  example: 1
                  nullable: true
                note:
                  type: string
                  description: 'Note. Must not be greater than 2000 characters.'
                  example: 'Tư vấn qua Zalo'
                  nullable: true
                tag_ids:
                  type: array
                  description: 'Must match an existing stored value.'
                  example:
                    - 17
                  items:
                    type: integer
                course_ids:
                  type: array
                  description: 'Must match an existing stored value.'
                  example:
                    - 17
                  items:
                    type: integer
                guardians:
                  type: array
                  description: 'Guardians to create alongside the lead.'
                  example: []
                  items:
                    type: object
                    nullable: true
                    properties:
                      full_name:
                        type: string
                        description: 'Must not be greater than 255 characters.'
                        example: mqeopfuudtdsufvyvddqa
                      relationship:
                        type: string
                        description: 'Must not be greater than 100 characters.'
                        example: mniihfqcoynlazghdtqtq
                      phone:
                        type: string
                        description: 'Must not be greater than 20 characters.'
                        example: xbajwbpilpmufinll
                      email:
                        type: string
                        description: 'Must be a valid email address. Must not be greater than 255 characters.'
                        example: okemmer@example.com
                        nullable: true
                    required:
                      - full_name
                      - relationship
                      - phone
                students:
                  type: array
                  description: 'Existing students to link.'
                  example: []
                  items:
                    type: object
                    nullable: true
                    properties:
                      student_id:
                        type: integer
                        description: 'Must match an existing stored value.'
                        example: 17
                      relationship:
                        type: string
                        description: ''
                        example: mother
                        enum:
                          - father
                          - mother
                          - guardian
                          - grandfather
                          - grandmother
                          - uncle
                          - aunt
                          - other
                        nullable: true
                    required:
                      - student_id
              required:
                - name
                - phone
                - source
                - owner_id
  '/v1/crm/lead/update/{id}':
    put:
      summary: 'Update lead'
      operationId: updateLead
      description: 'Partial update — only send fields to change. Code, business and status are immutable.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Cập nhật khách hàng thành công.'
                  data:
                    id: 1
                    code: LEAD000001
                    name: 'Nguyễn Văn A'
                    gender: male
                    dob: '2010-03-20'
                    email: a@example.com
                    phone: '0901234567'
                    source: zalo
                    status: pending
                    note: 'Đã tư vấn'
                    business_id: 1
                    branch_id: 1
                    owner_id: 2
                    guardians: []
                    students: []
                    tags: []
                    courses: []
                    created_by: 1
                    updated_by: 2
                    deleted_by: null
                    created_at: '2026-06-01T08:00:00.000000Z'
                    updated_at: '2026-06-13T09:00:00.000000Z'
                    deleted_at: null
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Cập nhật khách hàng thành công.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      code:
                        type: string
                        example: LEAD000001
                      name:
                        type: string
                        example: 'Nguyễn Văn A'
                      gender:
                        type: string
                        example: male
                      dob:
                        type: string
                        example: '2010-03-20'
                      email:
                        type: string
                        example: a@example.com
                      phone:
                        type: string
                        example: '0901234567'
                      source:
                        type: string
                        example: zalo
                      status:
                        type: string
                        example: pending
                      note:
                        type: string
                        example: 'Đã tư vấn'
                      business_id:
                        type: integer
                        example: 1
                      branch_id:
                        type: integer
                        example: 1
                      owner_id:
                        type: integer
                        example: 2
                      guardians:
                        type: array
                        example: []
                      students:
                        type: array
                        example: []
                      tags:
                        type: array
                        example: []
                      courses:
                        type: array
                        example: []
                      created_by:
                        type: integer
                        example: 1
                      updated_by:
                        type: integer
                        example: 2
                      deleted_by:
                        type: string
                        example: null
                        nullable: true
                      created_at:
                        type: string
                        example: '2026-06-01T08:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2026-06-13T09:00:00.000000Z'
                      deleted_at:
                        type: string
                        example: null
                        nullable: true
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Full name. Must not be greater than 255 characters.'
                  example: 'Nguyễn Văn A'
                gender:
                  type: string
                  description: male|female|other.
                  example: male
                  enum:
                    - male
                    - female
                    - other
                  nullable: true
                dob:
                  type: string
                  description: 'Date of birth (<= today). Must be a valid date. Must be a date before or equal to <code>today</code>.'
                  example: '2010-03-20'
                  nullable: true
                email:
                  type: string
                  description: 'Contact email. Must be a valid email address. Must not be greater than 255 characters.'
                  example: a@example.com
                  nullable: true
                phone:
                  type: string
                  description: 'Contact phone (unique among active leads). Must match the regex /^[0-9+\-\s().]{6,20}$/.'
                  example: '0901234567'
                source:
                  type: string
                  description: 'Lead source. Must not be greater than 255 characters.'
                  example: zalo
                owner_id:
                  type: integer
                  description: 'Assigned staff (user) id. Must match an existing stored value.'
                  example: 1
                branch_id:
                  type: integer
                  description: 'Branch id. Must match an existing stored value.'
                  example: 1
                  nullable: true
                note:
                  type: string
                  description: 'Note. Must not be greater than 2000 characters.'
                  example: 'Đã tư vấn lần 2'
                  nullable: true
                tag_ids:
                  type: array
                  description: 'Must match an existing stored value.'
                  example:
                    - 17
                  items:
                    type: integer
                course_ids:
                  type: array
                  description: 'Must match an existing stored value.'
                  example:
                    - 17
                  items:
                    type: integer
                guardians:
                  type: array
                  description: 'Guardians (replaces all existing when provided).'
                  example: []
                  items:
                    type: object
                    nullable: true
                    properties:
                      full_name:
                        type: string
                        description: 'Must not be greater than 255 characters.'
                        example: mqeopfuudtdsufvyvddqa
                      relationship:
                        type: string
                        description: 'Must not be greater than 100 characters.'
                        example: mniihfqcoynlazghdtqtq
                      phone:
                        type: string
                        description: 'Must not be greater than 20 characters.'
                        example: xbajwbpilpmufinll
                      email:
                        type: string
                        description: 'Must be a valid email address. Must not be greater than 255 characters.'
                        example: okemmer@example.com
                        nullable: true
                    required:
                      - full_name
                      - relationship
                      - phone
                students:
                  type: array
                  description: 'Linked students (replaces all existing when provided).'
                  example: []
                  items:
                    type: object
                    nullable: true
                    properties:
                      student_id:
                        type: integer
                        description: 'Must match an existing stored value.'
                        example: 17
                      relationship:
                        type: string
                        description: ''
                        example: other
                        enum:
                          - father
                          - mother
                          - guardian
                          - grandfather
                          - grandmother
                          - uncle
                          - aunt
                          - other
                        nullable: true
                    required:
                      - student_id
    parameters:
      -
        in: path
        name: id
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
  '/v1/crm/lead/suspend/{id}':
    post:
      summary: 'Suspend lead'
      operationId: suspendLead
      description: 'Moves a lead to "inactive" status and records the reason in the history.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: ''
                    type: object
                    example:
                      success: true
                      msg: 'Ngừng khách hàng thành công.'
                      data:
                        id: 1
                        code: LEAD000001
                        name: 'Nguyễn Văn A'
                        status: inactive
                        previous_status: pending
                        suspended_at: '2026-06-13T09:00:00.000000Z'
                        suspend_reason: 'Không còn nhu cầu'
                        suspended_by: 1
                        business_id: 1
                        branch_id: 1
                        owner_id: 1
                        created_at: '2026-06-01T08:00:00.000000Z'
                        updated_at: '2026-06-13T09:00:00.000000Z'
                        deleted_at: null
                      code: 200
                      errors: null
                    properties:
                      success:
                        type: boolean
                        example: true
                      msg:
                        type: string
                        example: 'Ngừng khách hàng thành công.'
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          code:
                            type: string
                            example: LEAD000001
                          name:
                            type: string
                            example: 'Nguyễn Văn A'
                          status:
                            type: string
                            example: inactive
                          previous_status:
                            type: string
                            example: pending
                          suspended_at:
                            type: string
                            example: '2026-06-13T09:00:00.000000Z'
                          suspend_reason:
                            type: string
                            example: 'Không còn nhu cầu'
                          suspended_by:
                            type: integer
                            example: 1
                          business_id:
                            type: integer
                            example: 1
                          branch_id:
                            type: integer
                            example: 1
                          owner_id:
                            type: integer
                            example: 1
                          created_at:
                            type: string
                            example: '2026-06-01T08:00:00.000000Z'
                          updated_at:
                            type: string
                            example: '2026-06-13T09:00:00.000000Z'
                          deleted_at:
                            type: string
                            example: null
                            nullable: true
                      code:
                        type: integer
                        example: 200
                      errors:
                        type: string
                        example: null
                        nullable: true
                  -
                    description: 'Already inactive'
                    type: object
                    example:
                      success: false
                      msg: 'Khách hàng đang ở trạng thái ngừng.'
                      data: null
                      code: 200
                      errors: null
                    properties:
                      success:
                        type: boolean
                        example: false
                      msg:
                        type: string
                        example: 'Khách hàng đang ở trạng thái ngừng.'
                      data:
                        type: string
                        example: null
                        nullable: true
                      code:
                        type: integer
                        example: 200
                      errors:
                        type: string
                        example: null
                        nullable: true
      tags:
        - 'CRM - Lead'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: 'Reason for suspending the lead. Must not be greater than 1000 characters.'
                  example: 'Không còn nhu cầu'
                note:
                  type: string
                  description: 'Additional note. Must not be greater than 2000 characters.'
                  example: 'Sẽ liên hệ lại sau 3 tháng'
                  nullable: true
              required:
                - reason
    parameters:
      -
        in: path
        name: id
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
  '/v1/crm/lead/restore/{id}':
    post:
      summary: 'Restore lead'
      operationId: restoreLead
      description: "Reactivates an inactive lead, returning it to its pre-suspend status (or \"pending\"\nwhen unknown)."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: ''
                    type: object
                    example:
                      success: true
                      msg: 'Khôi phục khách hàng thành công.'
                      data:
                        id: 1
                        code: LEAD000001
                        name: 'Nguyễn Văn A'
                        status: pending
                        previous_status: null
                        suspended_at: null
                        suspend_reason: null
                        suspended_by: null
                        business_id: 1
                        branch_id: 1
                        owner_id: 1
                        created_at: '2026-06-01T08:00:00.000000Z'
                        updated_at: '2026-06-13T10:00:00.000000Z'
                        deleted_at: null
                      code: 200
                      errors: null
                    properties:
                      success:
                        type: boolean
                        example: true
                      msg:
                        type: string
                        example: 'Khôi phục khách hàng thành công.'
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          code:
                            type: string
                            example: LEAD000001
                          name:
                            type: string
                            example: 'Nguyễn Văn A'
                          status:
                            type: string
                            example: pending
                          previous_status:
                            type: string
                            example: null
                            nullable: true
                          suspended_at:
                            type: string
                            example: null
                            nullable: true
                          suspend_reason:
                            type: string
                            example: null
                            nullable: true
                          suspended_by:
                            type: string
                            example: null
                            nullable: true
                          business_id:
                            type: integer
                            example: 1
                          branch_id:
                            type: integer
                            example: 1
                          owner_id:
                            type: integer
                            example: 1
                          created_at:
                            type: string
                            example: '2026-06-01T08:00:00.000000Z'
                          updated_at:
                            type: string
                            example: '2026-06-13T10:00:00.000000Z'
                          deleted_at:
                            type: string
                            example: null
                            nullable: true
                      code:
                        type: integer
                        example: 200
                      errors:
                        type: string
                        example: null
                        nullable: true
                  -
                    description: 'Not inactive'
                    type: object
                    example:
                      success: false
                      msg: 'Chỉ có thể khôi phục khách hàng đang ngừng.'
                      data: null
                      code: 200
                      errors: null
                    properties:
                      success:
                        type: boolean
                        example: false
                      msg:
                        type: string
                        example: 'Chỉ có thể khôi phục khách hàng đang ngừng.'
                      data:
                        type: string
                        example: null
                        nullable: true
                      code:
                        type: integer
                        example: 200
                      errors:
                        type: string
                        example: null
                        nullable: true
      tags:
        - 'CRM - Lead'
    parameters:
      -
        in: path
        name: id
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
  '/v1/crm/lead/{leadId}/guardian/list':
    get:
      summary: 'List guardians for a lead'
      operationId: listGuardiansForALead
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'Page size: 20, 50 or 100 (default 20).'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Page size: 20, 50 or 100 (default 20).'
            example: 20
        -
          in: query
          name: page
          description: 'Page number (default 1).'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number (default 1).'
            example: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Thao tác thành công'
                  data:
                    items:
                      -
                        id: 1
                        lead_id: 1
                        full_name: 'Nguyễn Văn B'
                        relationship: Bố
                        phone: '0907654321'
                        email: null
                        created_by: 1
                        updated_by: null
                        deleted_by: null
                        created_at: '2026-06-01T08:00:00.000000Z'
                        updated_at: '2026-06-01T08:00:00.000000Z'
                        deleted_at: null
                    pagination:
                      total: 1
                      per_page: 20
                      current_page: 1
                      last_page: 1
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Thao tác thành công'
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        example:
                          -
                            id: 1
                            lead_id: 1
                            full_name: 'Nguyễn Văn B'
                            relationship: Bố
                            phone: '0907654321'
                            email: null
                            created_by: 1
                            updated_by: null
                            deleted_by: null
                            created_at: '2026-06-01T08:00:00.000000Z'
                            updated_at: '2026-06-01T08:00:00.000000Z'
                            deleted_at: null
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            lead_id:
                              type: integer
                              example: 1
                            full_name:
                              type: string
                              example: 'Nguyễn Văn B'
                            relationship:
                              type: string
                              example: Bố
                            phone:
                              type: string
                              example: '0907654321'
                            email:
                              type: string
                              example: null
                              nullable: true
                            created_by:
                              type: integer
                              example: 1
                            updated_by:
                              type: string
                              example: null
                              nullable: true
                            deleted_by:
                              type: string
                              example: null
                              nullable: true
                            created_at:
                              type: string
                              example: '2026-06-01T08:00:00.000000Z'
                            updated_at:
                              type: string
                              example: '2026-06-01T08:00:00.000000Z'
                            deleted_at:
                              type: string
                              example: null
                              nullable: true
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 20
                          current_page:
                            type: integer
                            example: 1
                          last_page:
                            type: integer
                            example: 1
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead Guardians'
    parameters:
      -
        in: path
        name: leadId
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
  '/v1/crm/lead/{leadId}/guardian/add':
    post:
      summary: 'Add guardian to a lead'
      operationId: addGuardianToALead
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Thêm người giám hộ thành công.'
                  data:
                    id: 2
                    lead_id: 1
                    full_name: 'Nguyễn Thị C'
                    relationship: Mẹ
                    phone: '0912345678'
                    email: c@example.com
                    created_by: 1
                    updated_by: null
                    deleted_by: null
                    created_at: '2026-06-13T08:00:00.000000Z'
                    updated_at: '2026-06-13T08:00:00.000000Z'
                    deleted_at: null
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Thêm người giám hộ thành công.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2
                      lead_id:
                        type: integer
                        example: 1
                      full_name:
                        type: string
                        example: 'Nguyễn Thị C'
                      relationship:
                        type: string
                        example: Mẹ
                      phone:
                        type: string
                        example: '0912345678'
                      email:
                        type: string
                        example: c@example.com
                      created_by:
                        type: integer
                        example: 1
                      updated_by:
                        type: string
                        example: null
                        nullable: true
                      deleted_by:
                        type: string
                        example: null
                        nullable: true
                      created_at:
                        type: string
                        example: '2026-06-13T08:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2026-06-13T08:00:00.000000Z'
                      deleted_at:
                        type: string
                        example: null
                        nullable: true
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead Guardians'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lead_id:
                  type: integer
                  description: 'Must match an existing stored value.'
                  example: 17
                full_name:
                  type: string
                  description: 'Guardian full name. Must not be greater than 255 characters.'
                  example: 'Nguyễn Văn B'
                relationship:
                  type: string
                  description: 'Relationship to the lead. Must not be greater than 100 characters.'
                  example: Bố
                phone:
                  type: string
                  description: 'Phone number (unique within this lead). Must not be greater than 20 characters.'
                  example: '0907654321'
                email:
                  type: string
                  description: 'Guardian email. Must be a valid email address. Must not be greater than 255 characters.'
                  example: guardian@example.com
                  nullable: true
              required:
                - lead_id
                - full_name
                - relationship
                - phone
    parameters:
      -
        in: path
        name: leadId
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
  '/v1/crm/lead/{leadId}/guardian/update/{id}':
    put:
      summary: 'Update guardian'
      operationId: updateGuardian
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Cập nhật người giám hộ thành công.'
                  data:
                    id: 2
                    lead_id: 1
                    full_name: 'Nguyễn Thị C'
                    relationship: Mẹ
                    phone: '0912345678'
                    email: new@example.com
                    created_by: 1
                    updated_by: 1
                    deleted_by: null
                    created_at: '2026-06-13T08:00:00.000000Z'
                    updated_at: '2026-06-13T09:00:00.000000Z'
                    deleted_at: null
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Cập nhật người giám hộ thành công.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2
                      lead_id:
                        type: integer
                        example: 1
                      full_name:
                        type: string
                        example: 'Nguyễn Thị C'
                      relationship:
                        type: string
                        example: Mẹ
                      phone:
                        type: string
                        example: '0912345678'
                      email:
                        type: string
                        example: new@example.com
                      created_by:
                        type: integer
                        example: 1
                      updated_by:
                        type: integer
                        example: 1
                      deleted_by:
                        type: string
                        example: null
                        nullable: true
                      created_at:
                        type: string
                        example: '2026-06-13T08:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2026-06-13T09:00:00.000000Z'
                      deleted_at:
                        type: string
                        example: null
                        nullable: true
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead Guardians'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                  description: 'Guardian full name. Must not be greater than 255 characters.'
                  example: 'Nguyễn Văn B'
                relationship:
                  type: string
                  description: 'Relationship to the lead. Must not be greater than 100 characters.'
                  example: Mẹ
                phone:
                  type: string
                  description: 'Phone number (unique within this lead). Must not be greater than 20 characters.'
                  example: '0907654321'
                email:
                  type: string
                  description: 'Guardian email. Must be a valid email address. Must not be greater than 255 characters.'
                  example: guardian@example.com
                  nullable: true
    parameters:
      -
        in: path
        name: leadId
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The guardian ID.'
        example: 2
        required: true
        schema:
          type: integer
  '/v1/crm/lead/{leadId}/guardian/delete/{id}':
    delete:
      summary: 'Delete guardian'
      operationId: deleteGuardian
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Xóa người giám hộ thành công.'
                  data: null
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Xóa người giám hộ thành công.'
                  data:
                    type: string
                    example: null
                    nullable: true
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead Guardians'
    parameters:
      -
        in: path
        name: leadId
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The guardian ID.'
        example: 2
        required: true
        schema:
          type: integer
  '/v1/crm/lead/{leadId}/student/list':
    get:
      summary: 'List students linked to a lead'
      operationId: listStudentsLinkedToALead
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'Page size: 20, 50 or 100 (default 20).'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Page size: 20, 50 or 100 (default 20).'
            example: 20
        -
          in: query
          name: page
          description: 'Page number (default 1).'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number (default 1).'
            example: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Thao tác thành công'
                  data:
                    items:
                      -
                        id: 1
                        lead_id: 1
                        student_id: 5
                        student:
                          id: 5
                          code: STU000005
                          name: 'Nguyễn Thị C'
                          level_id: 1
                          status: active
                        relationship: father
                        created_by: 1
                        updated_by: null
                        deleted_by: null
                        created_at: '2026-06-01T08:00:00.000000Z'
                        updated_at: '2026-06-01T08:00:00.000000Z'
                        deleted_at: null
                    pagination:
                      total: 1
                      per_page: 20
                      current_page: 1
                      last_page: 1
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Thao tác thành công'
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        example:
                          -
                            id: 1
                            lead_id: 1
                            student_id: 5
                            student:
                              id: 5
                              code: STU000005
                              name: 'Nguyễn Thị C'
                              level_id: 1
                              status: active
                            relationship: father
                            created_by: 1
                            updated_by: null
                            deleted_by: null
                            created_at: '2026-06-01T08:00:00.000000Z'
                            updated_at: '2026-06-01T08:00:00.000000Z'
                            deleted_at: null
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            lead_id:
                              type: integer
                              example: 1
                            student_id:
                              type: integer
                              example: 5
                            student:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 5
                                code:
                                  type: string
                                  example: STU000005
                                name:
                                  type: string
                                  example: 'Nguyễn Thị C'
                                level_id:
                                  type: integer
                                  example: 1
                                status:
                                  type: string
                                  example: active
                            relationship:
                              type: string
                              example: father
                            created_by:
                              type: integer
                              example: 1
                            updated_by:
                              type: string
                              example: null
                              nullable: true
                            deleted_by:
                              type: string
                              example: null
                              nullable: true
                            created_at:
                              type: string
                              example: '2026-06-01T08:00:00.000000Z'
                            updated_at:
                              type: string
                              example: '2026-06-01T08:00:00.000000Z'
                            deleted_at:
                              type: string
                              example: null
                              nullable: true
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 20
                          current_page:
                            type: integer
                            example: 1
                          last_page:
                            type: integer
                            example: 1
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead Students'
    parameters:
      -
        in: path
        name: leadId
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
  '/v1/crm/lead/{leadId}/student/add':
    post:
      summary: 'Link a student to a lead'
      operationId: linkAStudentToALead
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Liên kết học viên thành công.'
                  data:
                    id: 1
                    lead_id: 1
                    student_id: 5
                    relationship: father
                    created_by: 1
                    updated_by: null
                    deleted_by: null
                    created_at: '2026-06-13T08:00:00.000000Z'
                    updated_at: '2026-06-13T08:00:00.000000Z'
                    deleted_at: null
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Liên kết học viên thành công.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      lead_id:
                        type: integer
                        example: 1
                      student_id:
                        type: integer
                        example: 5
                      relationship:
                        type: string
                        example: father
                      created_by:
                        type: integer
                        example: 1
                      updated_by:
                        type: string
                        example: null
                        nullable: true
                      deleted_by:
                        type: string
                        example: null
                        nullable: true
                      created_at:
                        type: string
                        example: '2026-06-13T08:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2026-06-13T08:00:00.000000Z'
                      deleted_at:
                        type: string
                        example: null
                        nullable: true
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead Students'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lead_id:
                  type: integer
                  description: 'Must match an existing stored value.'
                  example: 17
                student_id:
                  type: integer
                  description: 'Active student id (may be linked once per lead). Must match an existing stored value.'
                  example: 1
                relationship:
                  type: string
                  description: father|mother|guardian|grandfather|grandmother|uncle|aunt|other.
                  example: father
                  enum:
                    - father
                    - mother
                    - guardian
                    - grandfather
                    - grandmother
                    - uncle
                    - aunt
                    - other
                  nullable: true
              required:
                - lead_id
                - student_id
    parameters:
      -
        in: path
        name: leadId
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
  '/v1/crm/lead/{leadId}/student/update/{id}':
    put:
      summary: 'Update student–lead relationship'
      operationId: updateStudentleadRelationship
      description: 'Only the relationship type is editable; the lead and student are immutable.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Cập nhật liên kết học viên thành công.'
                  data:
                    id: 1
                    lead_id: 1
                    student_id: 5
                    relationship: mother
                    created_by: 1
                    updated_by: 1
                    deleted_by: null
                    created_at: '2026-06-13T08:00:00.000000Z'
                    updated_at: '2026-06-13T09:00:00.000000Z'
                    deleted_at: null
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Cập nhật liên kết học viên thành công.'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      lead_id:
                        type: integer
                        example: 1
                      student_id:
                        type: integer
                        example: 5
                      relationship:
                        type: string
                        example: mother
                      created_by:
                        type: integer
                        example: 1
                      updated_by:
                        type: integer
                        example: 1
                      deleted_by:
                        type: string
                        example: null
                        nullable: true
                      created_at:
                        type: string
                        example: '2026-06-13T08:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2026-06-13T09:00:00.000000Z'
                      deleted_at:
                        type: string
                        example: null
                        nullable: true
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead Students'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                relationship:
                  type: string
                  description: father|mother|guardian|grandfather|grandmother|uncle|aunt|other.
                  example: mother
                  enum:
                    - father
                    - mother
                    - guardian
                    - grandfather
                    - grandmother
                    - uncle
                    - aunt
                    - other
                  nullable: true
    parameters:
      -
        in: path
        name: leadId
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The link record ID.'
        example: 1
        required: true
        schema:
          type: integer
  '/v1/crm/lead/{leadId}/student/delete/{id}':
    delete:
      summary: 'Unlink a student from a lead'
      operationId: unlinkAStudentFromALead
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  msg: 'Gỡ liên kết học viên thành công.'
                  data: null
                  code: 200
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: true
                  msg:
                    type: string
                    example: 'Gỡ liên kết học viên thành công.'
                  data:
                    type: string
                    example: null
                    nullable: true
                  code:
                    type: integer
                    example: 200
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'CRM - Lead Students'
    parameters:
      -
        in: path
        name: leadId
        description: 'The lead ID.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The link record ID.'
        example: 1
        required: true
        schema:
          type: integer
  /v1/crm/parent/list:
    get:
      summary: 'List parents'
      operationId: listParents
      description: ''
      parameters:
        -
          in: query
          name: search
          description: 'Search by parent code, name, email or phone.'
          example: robert
          required: false
          schema:
            type: string
            description: 'Search by parent code, name, email or phone.'
            example: robert
        -
          in: query
          name: business_id
          description: 'Filter by business id.'
          example: 1
[...]
